
@{
    ViewData["Title"] = "Management";
}

<h1>Management</h1>
<a asp-controller="Categories" asp-action="Index">Categories Management</a>
<a asp-controller="Books" asp-action="Index">Books Management</a>

